nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    flex-flow: column;
  }

  .bootcamp {
    img {
      max-width: 200px
    }
  }

  .patrocinadores-nav {
    display: flex;

    justify-content: space-evenly;
    width: 100%;
    max-width: 30vw;

    img {
      max-width: 100px;

      @include tablet {

        max-width: 35vw;
        padding: 1rem;
      }
    }

    @include tablet {
      padding: 0.5rem;
      max-width: 90%;
    }

  }

}