@import "libs/mixins";
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:400");

html {
  font-size: 100%;
} /*16px*/

/*16px*/

body {
  background: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  color: #000000;
  background-position: center;
  height: auto;
  background: url("../assets/bg-purple.png");
  background-size: cover;
  background-origin: border-box;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;

  @include phone {
    height: auto;
    background: url("../assets/bg-purple-r.png") no-repeat center fixed !important;
    background-size: cover;
  }
}

p {
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Bebas Neue", sans-serif;

  font-weight: 400;
  line-height: 1.3;
}

h1 {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 4.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-family: "Roboto", sans-serif;
  font-size: 0.5rem !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 35vw;

  margin: auto;

  @include tablet {
    width: 85vw;
  }
}

section {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  height: auto;
  flex-flow: column;
  box-sizing: border-box;
}

.home {
  button {
    position: relative;
    bottom: -10rem;
    cursor: pointer;
    background-color: transparent;
    border: none;

    @include tablet {
      bottom: 9rem;
    }

    @include phone {
      bottom: -6rem;
    }
  }

  background: url("../assets/bg-purple-soldiers.png") no-repeat center fixed;
  background-size: cover;
  box-shadow: inset 0 0 30px 2px #280229;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;

  .contenedor-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenedor-patrocinadores {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      max-width: 200px;
    }

    @include phone {
      img {
        max-width: 100px;
        margin-top: 15rem;
      }
    }
  }

  padding-top: 2rem;
}

.nt {
  margin-top: 0px !important;
}

.btn-flotante,
.btn-primario {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/logo.png);

  text-decoration: none;
  font-size: 16px;
  /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase;
  /* Texto en mayusculas */
  font-weight: bold;
  /* Fuente en negrita o bold */
  color: #ffffff;
  /* Color del texto */
  border-radius: 5px;
  /* Borde del boton */
  letter-spacing: 2px;
  /* Espacio entre letras */

  /* Color de fondo */

  /* Relleno del boton */
  position: absolute;
  bottom: 4rem;

  img {
    width: 100%;
    max-width: 200px;
  }

  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;

  &:hover {
    background-color: #280229;

    /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
  }
}

@media only screen and (max-width: 600px) {
  .btn-flotante {
    font-size: 14px;
    margin-top: -4rem;
  }
}

.btn-primario {
  border: 0.5px solid white;
  font-weight: bold;
  margin: 1rem;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
}

.login {
  .contenedor-login {
    background-color: #280229;
    max-width: 320px;
    border-radius: 16px;
    padding: 2rem 2rem;

    .formulario {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      .form-grupo {
        font-weight: bold;
        text-transform: uppercase;

        label {
          margin-bottom: 0.6rem;
          font-family: Arial, Helvetica, sans-serif;
        }

        input {
          padding: 0.6rem;
          font-size: 0.7rem;
        }

        padding-bottom: 1rem;
        flex-flow: column;
        display: flex;
        width: 100%;
      }
    }

    @include phone {
      margin-top: 11rem;
    }
  }
}

.ranking {
  margin-top: 1rem;
  height: auto;

  section {
    height: auto;
  }

  .contenedor {
    height: auto;
    width: 100%;
    max-width: 1176px;
    margin: auto;
    justify-content: center;
    align-items: center;
    top: 140px;
    position: relative;
  }

  header {
    text-align: center;
    display: flex;
    align-items: space-between;
    justify-content: center;
    flex-flow: column;
    margin-bottom: 1.2rem;
    width: 100%;
  }

  .top-tres {
    width: 100%;
    display: grid;
    grid-template-areas: "segundo primer tercero";
    align-items: center;
    justify-content: space-evenly;

    .col {
      height: 320px;
      width: 100%;
      max-width: 300px;
      background-color: rgba(78, 0, 129, 0.493);
      border: 1px solid #fff;
      border-radius: 16px;
      margin-bottom: 2rem;

      @include tablet {
        max-width: 210px !important;
      }

      img {
        max-width: 102px;
        margin: 0.5rem;
        background-color: #ff9c00;
        border-radius: 5rem;
      }

      p {
        margin: 0 !important;
      }

      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;

      @include phone {
        padding: 2rem;
      }

      .name {
        text-align: center;
        font-size: 1.4rem;
        line-height: 0.9;
        font-weight: bold;
        color: #f7981d;
      }

      .place {
        color: rgb(255, 255, 255);
        font-size: 1.6rem;
        font-weight: bolder;
      }

      .first {
        color: #ffae00;
        font-size: 2rem;
      }

      &:nth-child(1) {
        box-shadow: 0px 0px 20px rgba(255, 208, 0, 0.747);
        height: 340px;
        grid-area: primer;

        @include phone {
          height: 280px;
        }
      }

      &:nth-child(2) {
        box-shadow: 0px 0px 20px rgba(160, 160, 160, 0.747);
        height: 310px;
        grid-area: segundo;

        @include phone {
          height: 280px;
        }
      }

      &:nth-child(3) {
        box-shadow: 0px 0px 20px rgba(150, 86, 34, 0.747);
        height: 310px;
        grid-area: tercero;

        @include phone {
          height: 280px;
        }
      }
    }

    @include phone {
      display: grid;
      grid-template-areas:
        "primer"
        "segundo"
        "tercero";
    }
  }

  br {
    @include phone {
      display: none;
    }
  }

  .ranking-general {
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-flow: column;
    padding: 1rem;
    box-sizing: border-box;
    height: auto;
    max-width: 300vh;

    ul {
      height: auto;
      width: 100%;
      display: flex;
      align-items: space-between;
      justify-content: space-between;
      flex-flow: column;
    }

    li {
      background-color: rgba(70, 0, 117, 0.493);
      padding: 1rem;
      border-radius: 20px;
      border: 1px solid #fff;

      width: 100%;
      max-width: 750px;
      margin: 0 auto 1.5rem;

      .grupo {
        display: flex;
        width: 30%;
        align-items: center;
        justify-content: center;

        .place {
          padding-left: 0.2rem;
          font-size: 1.2rem;
          display: row !important;
        }

        img {
          max-width: 45px;
          margin-left: 3.5rem;
          background-color: rgba(185, 85, 252, 0.493);
          border-radius: 5rem;
        }

        @include phone {
          img {
            margin-left: 15px;
          }

          width: 50%;
          align-items: space-between;
        }
      }

      p {
        margin: 0px !important;
      }

      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    ul li img {
      max-width: 70px;
    }
  }

  .puntos {
    margin-left: 1rem !important;

    @include phone {
      margin-left: none !important;
    }
  }

  .puntos-numeros {
    border-radius: 10px;
    background-color: #f7981d;
    color: #280229;
    padding: 0.43rem;
    text-align: center;

    /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);

    @include phone {
      padding: 0.4rem;
      font-size: 0.7rem;
    }
  }

  @include tablet {
    margin-top: 10rem;

    h1 {
      font-size: 1.8rem;
    }
  }
}

.fail-registro {
  a {
    text-decoration: none;
    color: white;
    margin-bottom: 1rem;
  }
}

.ErrorPage {
  text-align: center;
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@import "components/Navbar";

footer {
  width: 100%;
  position: absolute;
  margin-top: 7rem;
  padding: 3rem 0.3rem;
  font-size: 0.7rem;
  height: auto;
  background-color: #31033359;
  color: #fff;

  .contenedor {
    padding-top: 1rem;
    width: 95%;
    margin: auto;
    text-align: left;
    justify-content: center;
  }
}

a {
  margin: auto;
}

.contenedor {
  box-sizing: border;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  .btn-primario {
    max-width: 400px;
  }
}

small {
  font-size: 0.7rem;

  @include phone {
    text-align: center;
  }
}

.contenedor-legales {
  position: absolute;

  max-width: 740px;
  bottom: 15px;
  line-height: 1.1;
  font-size: 10px;

  @include phone {
    width: 100%;
    position: relative;
    bottom: -19px !important;

    small {
      font-size: 0.6rem;
    }
  }
}
